/* Start Search Bar */
.search {
    margin: 50px auto;
}

#lens {
    left: 15px;
    z-index: 100;
}

#lens:hover {
    cursor: pointer;
    color: var(--blue);
}

#search {
    width: 200px;
    height: 35px;
    border-radius: 50px 0px 0px 50px;
    padding: 14px;
    padding-left: 40px;
}

#search:focus{
    box-shadow: 0px 0px 5px var(--blue);
}

@media (min-width: 576px) {
    #search {
        width: 300px;
    }
}

@media (min-width: 768px) {
    #search {
        width: 400px;
        height: 45px;
    }
}

@media (min-width: 992px) {
    #search {
        width: 500px;
    }
}

.search .categories,
.search .modifiers {
    height: 35px;
    left: -1px;
    font-size: 10px;
}

.search .categories {
    border-radius: 0px 50px 50px 0px;
    left: -2px;
}

.search .categories:hover,
.search .modifiers:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .search .categories,
    .search .modifiers {
        font-size: 14px;
        padding: 14px;
        height: 45px;
        left: -1px;
    }
}

.search .popover {
    display: none;
    opacity: 0;
    min-height: 200px;
    top: 100px;
    right: 0px;
    z-index: 10;
    padding-top: 30px;
    box-shadow: 0 0 10px var(--blue);
}

.search .popover span {
    margin: 5px;
    display: inline-block;
    padding: 10px;
    color: var(--gray);
    border: 1px solid var(--blue-alt);
    border-radius: 20px;
}

.search .popover span:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    border-radius: 20px;
}
/* End SearchBar */

/* Start Wrapper */

.outer-wrapper {
    min-height: 90vh;
}

#categories i:hover {
    cursor: pointer;
}

#categories {
    margin: 10px auto 20px;
    height: 1em;
    overflow: hidden;
    white-space: nowrap;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 1) 85%,
        rgba(0, 0, 0, 0)
    );
}

#categories i {
    position: absolute;
    top: 0;
    left: 100%;
    animation-name: categories-marquee;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes categories-marquee {
    to {
        left: -20px;
    }
}

#categories .cat1 {
    animation-delay: calc(10s / 10 * (10 - 1) * -1);
}

#categories .cat2 {
    animation-delay: calc(10s / 10 * (10 - 2) * -1);
}

#categories .cat3 {
    animation-delay: calc(10s / 10 * (10 - 3) * -1);
}

#categories .cat4 {
    animation-delay: calc(10s / 10 * (10 - 4) * -1);
}

#categories .cat5 {
    animation-delay: calc(10s / 10 * (10 - 5) * -1);
}

#categories .cat6 {
    animation-delay: calc(10s / 10 * (10 - 6) * -1);
}

#categories .cat7 {
    animation-delay: calc(10s / 10 * (10 - 7) * -1);
}

#categories .cat8 {
    animation-delay: calc(10s / 10 * (10 - 8) * -1);
}

#categories .cat9 {
    animation-delay: calc(10s / 10 * (10 - 9) * -1);
}

#categories .cat10 {
    animation-delay: calc(10s / 10 * (10 - 10) * -1);
}

@media (min-width: 576px) {
    #categories {
        width: 80%;
        font-size: 18px;
    }

    #categories i {
        animation-duration: 15s;
    }

    #categories .cat1 {
        animation-delay: calc(15s / 10 * (10 - 1) * -1);
    }
    
    #categories .cat2 {
        animation-delay: calc(15s / 10 * (10 - 2) * -1);
    }
    
    #categories .cat3 {
        animation-delay: calc(15s / 10 * (10 - 3) * -1);
    }
    
    #categories .cat4 {
        animation-delay: calc(15s / 10 * (10 - 4) * -1);
    }
    
    #categories .cat5 {
        animation-delay: calc(15s / 10 * (10 - 5) * -1);
    }
    
    #categories .cat6 {
        animation-delay: calc(15s / 10 * (10 - 6) * -1);
    }
    
    #categories .cat7 {
        animation-delay: calc(15s / 10 * (10 - 7) * -1);
    }
    
    #categories .cat8 {
        animation-delay: calc(15s / 10 * (10 - 8) * -1);
    }
    
    #categories .cat9 {
        animation-delay: calc(15s / 10 * (10 - 9) * -1);
    }
    
    #categories .cat10 {
        animation-delay: calc(15s / 10 * (10 - 10) * -1);
    }
}


@media (min-width: 768px) {

    #categories {
        font-size: 22px;
        max-width: 1000px;
    }

    #categories i {
        animation-duration: 20s;
    }

    #categories .cat1 {
        animation-delay: calc(20s / 10 * (10 - 1) * -1);
    }
    
    #categories .cat2 {
        animation-delay: calc(20s / 10 * (10 - 2) * -1);
    }
    
    #categories .cat3 {
        animation-delay: calc(20s / 10 * (10 - 3) * -1);
    }
    
    #categories .cat4 {
        animation-delay: calc(20s / 10 * (10 - 4) * -1);
    }
    
    #categories .cat5 {
        animation-delay: calc(20s / 10 * (10 - 5) * -1);
    }
    
    #categories .cat6 {
        animation-delay: calc(20s / 10 * (10 - 6) * -1);
    }
    
    #categories .cat7 {
        animation-delay: calc(20s / 10 * (10 - 7) * -1);
    }
    
    #categories .cat8 {
        animation-delay: calc(20s / 10 * (10 - 8) * -1);
    }
    
    #categories .cat9 {
        animation-delay: calc(20s / 10 * (10 - 9) * -1);
    }
    
    #categories .cat10 {
        animation-delay: calc(20s / 10 * (10 - 10) * -1);
    }
}

#categories i:hover {
    color: var(--blue);
}

.quizzes-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.quizzes-wrapper .quiz {
    padding: 10px;
    background-color: #ddd;
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px #aaa9a9;
}

.quizzes-wrapper .quiz:hover {
    cursor: pointer;
}

.quizzes-wrapper .quiz .img {
    width: 100%;
    border-radius: 6px;
    background-color: var(--gray);
    background-image: url("../images/defaultImageQuizMod.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 70%;
}

.quizzes-wrapper .quiz .info h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0px;
    font-size: 18px;
    border-bottom: 1px solid white;
}

.quizzes-wrapper .quiz .stats {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quizzes-wrapper .quiz .stats i {
    display: inline-block;
    width: 26px;
    height: 26px;
    position: relative;
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 13px;
    overflow: hidden;
    white-space: nowrap;
}

.quizzes-wrapper .quiz .stats i span {
    font-family: sans-serif;
    font-size: 14px;
}

.quizzes-wrapper .quiz .stats i:first-child {
    background-color: #f12213;
    left: 20px;
}

.quizzes-wrapper .quiz .stats i:nth-child(2) {
    font-size: 16px;
    background-color: var(--orange);
    left: 10px;
}

.quizzes-wrapper .quiz .stats i:last-child {
    background-color: var(--blue);
}

.quizzes-wrapper .quiz .stats i:hover {
    cursor: pointer;
    width: 100px;
}

/* End Wrapper */